
.navMenu{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    background-color: #003d60;
    color:#fff;
    padding:.5% 3%;
    position:fixed;
}

.navMenu button{
    background:none;
    border:0;
    color:#fff;
    font-size:1.2rem;
}

.title{
    display:flex;
    align-items:center;
    gap:.8rem;
    color:#fff;
}

.title:hover{
    color:#c7ecee;
    transition:.3s;
}

.title h1{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
}

.title h1 span{
    color:#3ce907;
    font-size: 3rem;
}

.logo{
    font-size:40px;
}

.reponsiveNav{
    display:none;
    cursor: pointer;
}


.searchBar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    width:35%;
    border-radius:5px;
    padding:8px 7px;
    margin-left:5px;
}

.searchBar Input{
    border:none;
    outline:0;
    width:97%;
}

.searhIcon{
    font-size:1.2rem;
    color:#003d60;
    cursor: pointer;
}

.mainMenu{
display:flex;
align-items: center;
}

.mainMenu a{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
    font-size:1.0623rem;
    font-weight:600;
    position:relative;
    font-family: 'Poppins', sans-serif;
}


.mainMenu a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height:2px;
    background-color: #fff;
    transition: width 0.3s ease;
  }

  /* Expand the underline on hover */ 
.mainMenu a:hover::after{
    width: 100%;
    left: 0;
}


.loginIcon{
    font-size:2.3rem;
    color:#fff;
    position:absolute;
    top: -20px;
    right:-35px;
}


.SignOut{
    margin-right:8rem;
}

.loginIcon a::after {
    display: none;
 }

 .userImg img{
    width:2.4rem;
    border-radius:50%;
    position:absolute;
    top:1rem;
    right:.4rem;
 }

 .SignOut{
    text-decoration:none;
    color:#fff;
    padding:.3rem .5rem;
    font-weight:700;
    border:1px solid #fff;
    text-align:center;
 }

 .SignOut:hover{
    transition:.3s;
    background-color:#0e1d2c;
 }

 .SignOut:hover::after {
    display: none;
 }

  @media (max-width: 992px) {

    .navMenu{
        padding:.8rem 1rem;
    }

    .reponsiveNav{
        display:block;
       margin-left:.3rem;
    }
    
    .title{
        gap:.2rem;
        margin-right:10px;
    }
    
    .title h1 span{
        font-size: 1.3rem;
    }

    .title h1{
        font-size: .7rem;
    }
    
    .logo{
        font-size:1.8rem;
    }
 
    .searchBar{
        width:60%;
        padding:5px 5px;
    }
    
    .mainMenu{
        display:block;
        position: absolute;
        background-color:#2C3A47;
        top:3.7rem;
        right:-100%;
        text-align:center;
        min-height:100vh;
        padding:1.2rem 0;
    }

    .mainMenuResponsive{
        right:0;
        transition:.5s;
        width:70%;
    }

    .mainMenuResponsive a{
        display:block;
        font-size:.8rem;
        margin-bottom:10px;
    } 

    .mainMenu a::after {
        display:none;
      }  

    .loginIcon{
    font-size:2rem;
    color:#fff;
    display:none;
    } 
 
    .userImg img{
    width:3rem;
    border-radius:10%;
    position:absolute;
    top:10rem;
    right:6.5rem;
    margin-top:.5rem;
 }

 .SignOut{
    display: none;
    border:none;
    width:91.2%;
    text-align:center;
 }


 .Login{
    color:#fff;
 }

 .Login:hover{
    color:#f587b5;
 }
}

@media (max-width:768px) {
    .searchBar{
        width:58%;
    }
}


