 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.Logincontainer{
  display:flex;
  align-items:center;
  height:100vh;
  justify-content: center;
}

.loginPage{
  display:flex;
  flex-direction:column;
  gap:5px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.logo{
  font-size:2.5rem; 
}

.emailPassInput{
  display:flex;
  align-items:center;
  gap:5px;
  width: 100%;
  border: 1px solid #003d60;
  font-size: 1rem;
  padding: .7rem .3rem;
}
.emailPassInput input {
 border:none;
 background-color: #fff;
 width: 100%;
}

.loginForm input:focus {
  outline: none;
  border-color: #2c3e50;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .login {
 margin-top:5px;
 border:none;
 padding: .5rem .3rem;
 width:100%;
 color:#fff;
 background-color:#003d60;
 cursor: pointer;
 font-size:1.2rem;
}


.login:hover {
  background-color:#023250;
  transition: .5s;
}

.loginForm a {
  text-decoration:none;
}

.forgot {
  color: #2c3e50;
  font-size: 0.875rem;
}

.forgot:hover {
  text-decoration: underline;
}

.createNew  {
  margin-top: 1rem;
  text-align: center;
  width:100%;
}

.createNew{
  background-color:#003d60;
  transition: 0.2s ease;
  padding: .6rem 1rem;
  cursor: pointer;
}

.createNew:hover {
  background-color:#023250;
  transition:.3s;
}


.createNew a{
  color:#fff;
  font-size: 1rem;
  font-weight: 500;
  width:100%;
}


.LoginHome{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.LoginHome i{
    cursor: pointer;
    font-size:1.7rem;
}

.LoginHome i:hover{
    font-size:1.8rem;
    display:inline-block;
    color:#003d60;
    transition:.5s;
}

.emailPassInput{
  cursor: pointer;
}



@media (max-width: 992px) {

}

@media (max-width:768px) {

} 

