*{
    list-style:none;
}

.mainContent{
   display: grid;
   grid-template-columns:repeat(3,1fr);
}

/* .container{
display:flex;
gap:10px;
justify-content: space-between;
} */

.jobCard{
    padding:1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:5px;
    width:390px;
    border:3px solid #303952;
    border-radius:.3rem;
}

.flex{
    display:flex;
    gap:5px;
}
.exp_date{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.jobCard:hover {
    background-color:#fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .5s;
}

.jobCard button{
    background-color:#303952;
    color:#fff;
    padding:8px;
    border-radius:2px;
    margin-top:10px;
    cursor: pointer;
    border:none;
    width:100%;
    font-size:1rem;
}

.jobTitle{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    margin-bottom:.5rem;
}

.jobCard i{
    font-size:2rem;
}
.jobTitle img{
    width:2rem;
    height:2rem;
}



.jobDetails{
    padding:10px;
    background-color:#ecf0f1;
    margin:5px;
    padding:.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius:5px;
}

.jobDetails p{
    font-weight:700;
    color:#303952;
}

.jobDetails:hover{
    background-color:#fff;
    transition:.5s;
}

.jobTitle {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.jobTitle img{
    width:1.8rem;
    height:1.8rem;
}

.ApplyNow, .jobDescription{
    width:100%;
    text-align:center;
    padding:.8rem 0;
    background-color:#303952;
    color:#fff;
    cursor: pointer;
    font-weight:600;
    border:none;
    font-size:1rem;
}


.ApplyNow a:hover{
    color:#e67e22;
}

.jobDescription{
    cursor: text;
}

.ApplyNow a{
    color:#fff;
}

.posIcon h5{
    font-size:1rem;
    font-weight:600;
}

.jobIcon{
    display:flex;
    gap:.2rem;
    align-items:center;
}

.jobIcon i{
    font-size:1.5rem;
    cursor: pointer;
}

.posIcon{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.jobBanner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:1rem;
}
.jobBanner h1{
   width:65%;
   text-align:center;
   line-height:50px;
}

.jobBanner img{
    width:400px;
    height:400px;
}

@media only screen and (max-width: 992px) {
    .jobCard{
        width:407px;
    }
    .mainContent{
        display: grid;
        grid-template-columns:repeat(2,1fr);
     }
     .jobBanner img{
        width:300px;
        height:300px;
    }
    .jobBanner h1{
        width:100%;
        text-align:center;
        line-height:50px;
     }
  }

@media only screen and (max-width: 768px) {
    .jobCard{
        width:406px;
    }
    .jobBanner h1{
        width:100%;
        text-align:left;
     }
     .jobBanner{
        display:block;
    }
  }



