*{
    list-style:none;
}

.mainContent{
   display: grid;
   grid-template-columns:repeat(3,1fr);
}
.container{
display:flex;
gap:10px;
justify-content: space-between;
}

.jobCard{
    padding:10px;
    background-color:#ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:5px;
    width:390px;
}

.flex{
    display:flex;
    gap:5px;
}
.exp_date{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.jobCard:hover {
    background-color:#fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .5s;
}

.jobCard button{
    background-color:#303952;
    color:#fff;
    padding:5px;
    border-radius:2px;
    margin-top:10px;
    cursor: pointer;
    border:none;
    width:100%;
}

.jobTitle{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.jobCard i{
    font-size:2rem;
}
.jobTitle img{
    width:2rem;
    height:2rem;
}



.jobDetails{
    padding:10px;
    background-color:#ecf0f1;
    margin:5px;
    padding:.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius:5px;
}

.jobDetails p{
    font-weight:700;
    color:#303952;
}

.jobDetails:hover{
    background-color:#fff;
    transition:.5s;
}

.jobTitle {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.jobTitle img{
    width:1.8rem;
    height:1.8rem;
}

.ApplyNow, .jobDescription{
    width:100%;
    text-align:center;
    padding:.8rem 0;
    background-color:#303952;
    color:#fff;
    cursor: pointer;
    font-weight:600;
    border:none;
}



