
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Condensed:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner_area{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1200px;
    margin:0 auto;
    background:url(./HomeImg/bg.png);
}

.banner_img img{
    height:22rem;
    width:35rem;
    border-radius:.3rem;
}

.banner_text{
    width:35rem;
}

.banner_text h1{
   font-size:2.5rem;
   margin-top:.8rem;
}

.banner_text h3{
    font-family: 'Roboto Condensed', sans-serif;
    color:#48753a;
}

.banner_text button{
    background-color: #ff96c1;
    border:none;
    padding:.8rem 1rem;
    border-radius:.3rem;
    color:#fff;
    cursor: pointer;
    font-size:1.2rem;
}

.banner_text button:hover{
    background-color: #F75E98;
    transition:.3s;
}

.banner_text p{
    margin:.8rem 0;
    font-size:1rem;
}

