/* .loadingContent{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
} */

.loadingSpinner{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #003d60;
    border-bottom: 8px solid #003d60;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}

.loadingContent h2{
    color:red;
    animation-name:loading;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes loading {
    0%{
        color:red;
    }
    25%{
        color:green;
    }
    50%{
        color:red;
    }
    75%{
        color:green;
    }
    100%{
        color:black;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}